/* Mixins */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 390px) {
  .main-program .programs .program {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 500px;
    gap: 20px;
    padding: 20px;
  }

  .main-program .program h3 {
    width: 100%;
    max-width: 327px;
    position: relative;
    text-align: center;
    color: #ec5242;
    font-weight: 700;
    margin: 0 auto;
  }

  .main-program .program p {
    width: 100%;
    max-width: 327px;
    color: #fff;
    margin: 0 auto;
    padding: 5px;
  }

  .speakers-sec .speakers .speaker {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .speakers-sec .speaker .img-profile {
    width: 100%;
    max-width: 327px;
    height: auto;
    margin: 0 auto;
  }

  .speakers-sec .speakers .speaker-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  header {
    background: url(../images/mobile_intro_bg.png);
    background-repeat: no-repeat;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav .menu-items {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 80px;
    margin-top: 20px;
    padding: 30px;
    z-index: 20;
    background: #272a31;
  }

  .nav .menu-item {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: ease-in-out 2s;
  }

  .nav .menu-item a {
    text-decoration: none;
    width: 100%;
    color: #d3d3d3;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }

  .nav .menu-item:hover {
    background: #36393f;
    transform: scale3d(0.5, 0.5, -5);
  }

  .nav .active {
    border: 1px solid #ec5242;
    padding: 20px;
  }

  #menu-btn {
    width: 54px;
    height: 50px;
  }

  .nav .hide-menu {
    display: none !important;
  }

  .logo {
    display: none;
  }

  .hero-section {
    margin-top: 20px;
  }

  .hero-section .call {
    color: #ec5242;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-weight: 400;
  }

  .hero-section .call-title {
    color: #ec5242;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 700;
    background: -webkit-linear-gradient(#ec5242, #3e4044);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-section .description {
    color: #272a31;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: #fff;
    padding-top: 20px;
    margin-top: 80px;
  }

  .about-main p span {
    color: #ec5242;
    font-weight: 600;
  }

  .hero-section .description span {
    color: #ec5242;
    font-weight: 600;
  }

  .venue-highlight p {
    color: #272a31;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  .venue-highlight .date-stamp {
    font-size: 28px;
    font-weight: 700;
  }

  .venue-highlight .venue {
    font-size: 18px;
  }

  .main-program {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    gap: 10px;
    background: url(../images/pattern_bg.png);
    background-color: #272a31;
  }

  .main-program .program-title h2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d3d3d3;
  }

  .about-events hr {
    width: 200px;
    height: 3px;
    margin: 0 auto;
    color: #ec5242;
  }

  .main-program .program-title hr {
    width: 150px;
    height: 5px;
    color: #ec5242;
    margin: 0 auto;
  }

  .main-program .programs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }

  .main-program .programs .program {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 500px;
    gap: 20px;
    padding: 20px;
    background: #6a6b6d;
    opacity: 0.8;
  }

  .main-program .program .program-icon {
    width: 50px;
    height: auto;
  }

  .about-main h3 {
    text-align: center;
    color: #272a31;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .about-events h3 {
    font-family: "Lato", sans-serif;
    color: #272a31;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  .main-program .program h3 {
    font-family: "Lato", sans-serif;
    width: 200px;
    color: #ec5242;
    font-weight: 700;
    margin: 5px;
  }

  .about-main p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
    width: 100%;
    max-width: 700px;
    font-size: 18px;
    background: #fff;
    padding-top: 20px;
  }

  .about-events p {
    color: #272a31;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
  }

  .main-program .program p {
    width: 350px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #fff;
    padding-right: 15px;
    margin-right: 10px;
  }

  #call-out {
    display: flex;
    justify-items: center;
    margin: 0 auto;
  }

  .more-btn button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    width: 98%;
    height: 90px;
    border-style: none;
    background: #d3d3d3;
    color: #272a31;
    font-size: 28px;
  }

  #call-out button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    width: 98%;
    height: 100px;
    border-style: none;
    background: #ec5242;
    color: #d3d3d3;
    font-size: 28px;
  }

  .speakers-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .speakers-sec .speaker-title h2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #272a31;
  }

  .speakers-sec .speaker-title hr {
    width: 150px;
    height: 5px;
    color: #ec5242;
    margin: 0 auto;
  }

  .speakers-sec .speakers {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .speakers-sec .speakers .speaker {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .speakers-sec .speaker .img-profile {
    width: 150px;
    height: auto;
  }

  .speakers-sec .speakers .speaker-info {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 30px;
  }

  .speakers-sec .speakers .speaker-name {
    font-family: "Lato", sans-serif;
    color: #272a31;
    font-size: 28px;
    font-weight: 700;
  }

  .speakers-sec .speakers .role {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: -15px;
    color: #ec5242;
  }

  .speakers-sec .speakers .bio {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #272a31;
  }

  .speaker-hide {
    display: none;
  }

  /* about page */
  .about-header {
    background: url(../images/about_bg_01.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hero-section-about {
    margin-top: 20px;
  }

  .hero-section-about .call {
    color: #ec5242;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-weight: 400;
  }

  .hero-section-about .call-title {
    text-align: center;
    color: #ec5242;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 700;
    background: -webkit-linear-gradient(#ec5242, #3e4044);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-section-about .description {
    color: #272a31;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: #fff;
    width: 100%;
    max-width: 700px;
    padding-top: 20px;
    text-align: center;
  }

  .hero-section-about .description span {
    color: #ec5242;
    font-weight: 600;
  }

  .hero-section-about .venue-highlight p {
    color: #272a31;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    width: 375px;
    line-height: 1.7;
  }

  .hero-section-about .venue-highlight .date-stamp {
    font-size: 28px;
    font-weight: 700;
    width: 375px;
  }

  .hero-section-about .venue-highlight .venue {
    font-size: 18px;
    text-align: center;
  }

  .highlight {
    width: 375px;
  }

  .highlight .img-logo {
    width: 150px;
    height: auto;
  }

  .events {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .event {
    position: relative;
    width: 500px;
    max-width: 600px;
    margin: 0 auto;
  }

  .event img {
    width: 500px;
  }

  .event .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ec5242;
    background: rgba(236, 82, 66, 0.5);
  }

  .event .content p {
    display: flex;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #fff;
    justify-content: center;
    margin-top: 25%;
  }

  /* Partner */
  .speaker-partner {
    background: #3e4044;
    margin: 0 auto;
    width: 500px;
    max-width: 700px;
  }

  .partners {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .partner-title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #fff;
  }

  .partner-title .hr-lines {
    width: 100px;
    height: 1px;
    background: #ec5242;
    margin: 0 auto;
  }

  .partner-items .partner img {
    width: 100px;
  }

  /* Footer section */
  .footer-logo {
    position: relative;
    left: 5%;
  }

  .footer-logo .img-logo {
    width: 50px;
    margin: 0;
  }

  .footer-logo .logo-text {
    color: var(--secondary);
    font-weight: bolder;
  }

  .footer-logo .side-logo-text {
    background: -webkit-linear-gradient(#ec5242, #3e4044);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .footer-info {
    color: var(--primary);
    font-family: var(--fontFamily);
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
/* Desktop version */
@media screen and (min-width: 768px) {
  .logo {
    border: 2px solid green;
    width: 400px;
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
